@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,400;0,700;1,400&display=swap');

@font-face {
    font-family: "Raleway";
    src: url(../fonts/Raleway-Regular.ttf) format('truetype');
}

@font-face {
    font-family: "Raleway";
    src: url(../fonts/Raleway-Bold.ttf) format('truetype');
    font-weight: bold;
}

@font-face {
    font-family: "Raleway";
    src: url(../fonts/Raleway-Italic.ttf) format('truetype');
    font-style: italic;
}

.font-title {
    font-family: "Lato", sans-serif;
}

.front-autres {
    font-family: "Raleway", sans-serif;
}